


<table mat-table  [dataSource]="dataSource" class="mat-elevation-z8">
  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="{{displayedColumns[0]}}">
    <th mat-header-cell *matHeaderCellDef>{{displayedColumns[0] | titlecase}}</th>
    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
  </ng-container>
  <ng-container *ngFor='let columnName of displayedColumns | slice:1;' matColumnDef="{{columnName}}">
    <th mat-header-cell *matHeaderCellDef>{{columnName | titlecase}}</th>
    <td mat-cell *matCellDef="let element"> <app-d3-visualization [data]="exampleDataSet"></app-d3-visualization> </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
