table {
  width: 100%;
}
th.mat-header-cell{
  text-align: center;
}

th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type{
  padding-right:24px;
  padding-left:24px;
  text-align: center;
}
td.mat-cell{
  padding: 5px;
}
